# ========================
# Environment variables
# ========================

.env
.env.local
.env.*.local

# Permitimos archivos de ejemplo
!.env.example


# ========================
# Python
# ========================

__pycache__/
*.py[cod]

.venv/
venv/


# ========================
# Node / Vite
# ========================

node_modules/
dist/